* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: 0;
	font-family: 'Ubuntu';
	list-style: none;
}
/*VAR*/
:root{
	--text-color-dark : #574B51;
	--text-color-medium: #A5A997;
	--bg-color-low : #EBECE8;
	--bg-color-medium: #BCCFCA;
	--bg-color-dark: #74A3B2;
}

* {
	color: var(--text-color-dark);
}

body {
	background: var(--bg-color-medium);
}

div.warning {
	position: absolute;
	text-align: center;
	z-index: -1;
	top: 35vh;
	max-width: 50vw;
	padding: 20px;
	left: 27vw;
	font-size: 25px;
	border-bottom: 1px solid currentColor;
	transition: all linear 150ms;
	font-weight: bold;
	opacity: 0.5;
	visibility: visible;
}

header {
	width: 100vw;
	height: 10vh;
	max-height: 15vh;
	background: var(--bg-color-dark);
	padding: 10px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	color: var(--bg-color-low);
	text-shadow: 1px 1px 1px currentColor;
}

header h1::after,
header h1::before{
	content: "";
	display: block;
	width: 150px;
	height: 2.5px;
	margin: 1px auto;
	background: currentColor;
}

header input {
	transition: all ease-in-out;
	padding: 2px 4px;
	width: 250px;
	height: 30px;
	font-size: 16px;
	border-radius: 1px 1px;
	background: var(--text-color-dark);
	text-indent: 10px;
	color: var(--bg-color-low);
	font-size: 20px;
}

header input:focus {
	outline-color: var(--text-color-dark);
}


main#resultContainer {
	width: 100vw;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
}

.user {
	display: flex;
	background: var(--bg-color-low);
	border-radius: 1px 1px;
	border: 1px solid var(--bg-color-dark);
	padding: 5px;
}

.profile {
	width: 25%;
	height: 85vh;
	margin-right: 10px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

div.profile {
	visibility: hidden;
}

.profile figure{
	width: 100%;
	align-self: flex-start;
}

.profile figure img {
	width: 100%;
}

.profile ul {
	width: 100%;
	height: 40%;
}

.profile ul li {
	margin: 5px auto;
	padding: 10px;
	border-bottom: 1px solid grey;
}

a.btnProfile {
	display: inline-block;
	background: var(--text-color-dark);
	color: var(--bg-color-low);
	padding: 6px 20px;
	border: 2px solid currentColor;
	border-radius: 2px 2px;
	transition: all ease-in-out 200ms;
	margin-bottom: 30px;
	font-weight: bold;
}

a.btnProfile:hover {
	border-color: var(--text-color-dark);
	color: var(--text-color-dark);
	background: var(--bg-color-low);
}

.repos{
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.repo{
	display: flex;
	width: 100%;
	margin: 5px auto;
	padding: 10px;
}

.repo:hover {
	border-color: var(--text-color-dark);
	background:#DCDCDC;
}

.col1,
.col2 {
	width: 50%;
}

.col1 a {
	text-decoration: underline;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
	transition: all linear 75ms; 
	padding: 2px 6px;
}

.col1 a:hover {
	border-radius: 1px 1px;
	background: var(--text-color-dark);
	color: var(--bg-color-low);
}

.col1 span {
	margin-top: 15px;
	margin-left: 20px;
	display: block;
}

.col2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col2 b {
	display: block;
	margin: 2.5px auto;
	background: var(--bg-color-medium);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 30px;
	border: 1px solid var(--text-color-dark);
	padding: 0;
}
